a {
	color: #fb8d3c;
	text-decoration: none;
}

tr.odd {
	background-color: #eee;
}
tr:hover {
	background-color: #ddd;
}
td {
	padding: 5px;
}

button {
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	border: 0;
	background-color: #fb8d3c ;
	color: #fff;
	outline: none;
	padding: 8px 20px;
	cursor: pointer;
}
button:active {
	background-color: #d47834;
}

.vocable,
.translation {
	width: 150px;
}
.sentence {
	width: 300px;
}
.date {
	color: #9b9b9b;
}
.lebel {
	text-align: right;
}