<!doctype html>
<html ng-app="50vad-app">
	<head>
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css styles/main.css -->
		<link href="styles/main.css" rel="stylesheet">
		<!-- endbuild -->
	</head>
	<body ng-controller="VocabularyController">
		<div class="center-wrapper">
			<div class="vocable-area">
				<p>office chair</p>
			</div>
			<div class="description-area">
				<p>"He sat in the <b>office chair</b> behind his desk."</p>
			</div>
			<div class="translation-area">
				<input type="text" class="translation" placeholder="translation">
			</div>
			<div class="button-area">
				<button class="check-button">Check</button>
				<button class="hint-button">Hint</button>
			</div>
			<div class="postpone-area">
				<p>Leave me alone for the next ...</p>
				<button ng-click="shutup(1800)">30 minutes</button>
				<button ng-click="shutup(3600)">1 hour</button>
				<button ng-click="shutup(4 * 3600)">4 hours</button>
				<button ng-click="shutup(24 * 3600)">24 hours</button>
			</div>
			<div class="footer">
				<p>Practise makes perfect! Enjoying 50VocabsADay? Got Feedback? Drop me a line <a href="http://www.twitter.com/elconsta">@elconsta</a>.</p>
			</div>
		</div>
						
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js scripts/options.js -->
		<script src="scripts/50vad.js"></script>
		<!-- endbuild -->
	</body>
</html>
