<!doctype html>
<html ng-app="50vad-app">
	<head>
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css styles/main.css -->
		<link href="styles/main.css" rel="stylesheet">
		<!-- endbuild -->
	</head>
	<body ng-controller="VocabularyController">
		<div class="level-display">
			<svg height="100" width="75">
				<path d="M0,0 L0,100 L38,75 L75,100 L75,0 Z"/>
				<text x="15" y="20">LEVEL</text>
				<text class="number" x="28" y="55">{{ vocable.l }}</text>
			</svg>
		</div>
		<div class="center-wrapper">
			<div class="vocable-area">
				<p>{{ vocable.t }}</p>
			</div>
			<div class="translation-area">
				<input type="text" class="translation" placeholder="translation" ng-model="translation" ng-class="{ correct: isCorrect, incorrect: isIncorrect }" ng-keyup="isReturn($event) && checkTranslation()" sync-focus-with="isFocused" />
			</div>
			<div class="button-area" ng-hide='isCorrect'>
				<button class="check-button" ng-click="checkTranslation()">Check</button>
				<button class="hint-button" ng-click="showHint()">Hint</button>
			</div>
			<div class="postpone-area">
				<p>Leave me alone for the next ...</p>
				<button ng-click="shutup(1800)">30 minutes</button>
				<button ng-click="shutup(3600)">1 hour</button>
				<button ng-click="shutup(4 * 3600)">4 hours</button>
				<button ng-click="shutup(24 * 3600)">24 hours</button>
			</div>
			<div class="footer">
				<p>Practise makes perfect! Enjoying 50VocabsADay? Got Feedback? Drop me a line <a href="http://www.twitter.com/elconsta">@elconsta</a>.</p>
			</div>
		</div>
						
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js scripts/options.js -->
		<script src="scripts/ng-modules/MessageService.js"></script>
		<script src="scripts/50vad.js"></script>
		<!-- endbuild -->
	</body>
</html>
