<!doctype html>
<html ng-app="50vad-options-app">
	<head>
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css styles/options.css -->
		<link href="styles/options.css" rel="stylesheet">
		<!-- endbuild -->
	</head>
	<body ng-controller='OptionsController'>
		<h1>50VocabsADay Vocabulary List</h1>

		<table>
			<tr>
				<td><b>Vocable</b></td>
				<td><b>Will be checked</b></td>
				<td><b>Level</b></td>
				<td></td>
			</tr>
			<tr ng-repeat="(timestamp, vocableObject) in vocables">
				<td class="vocable">{{ vocableObject.v.substr(1) }}</td>
				<td class="date">{{ convertToReadable(timestamp) }}</td>
				<td class="level">{{ vocableObject.l }}</td>
				<td><a href="#" ng-click="deleteVocable(timestamp)">delete</a></td>
			</tr>
		</table>
						
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js scripts/options.js -->
		<script src="scripts/ng-modules/MessageService.js"></script>
		<script src="scripts/options.js"></script>
		<!-- endbuild -->
	</body>
</html>
