<!doctype html>
<html ng-app="50vad-options-app">
	<head>
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css styles/options.css -->
		<link href="styles/options.css" rel="stylesheet">
		<!-- endbuild -->
	</head>
	<body ng-controller='OptionsController'>
		<h1>50VocabsADay</h1>

		<div ng-show="showShutupPanel()">
			<p>I won't annoy you until <b>{{ shutupUntil | date:"MMM d - H:mm" }}</b>.</p>
			<button ng-click="resetShutupUntilValue()">I'm good now, let's train!</button>
		</div>

		<div ng-show="showNextVocablePanel() && !showShutupPanel()">
			<p>Next vocable will be checked at <b>{{ nextVocableIn | date:"MMM d - H:mm" }}</b>.</p>
			<button ng-click="askNextVocable()">Screw it, ask me now!</button>
		</div>

		<h2>Settings</h2>
		<ul>
			<li>
				<span>Target language</span>
				<select ng-change="changeTargetLanguage()" ng-model="language">
					<option value="de">German</option>
					<option value="en">English</option>
					<option value="es">Espa&#241;ol</option>
				</select>
			</li>
		</ul>
		<h2>Vocabulary List</h2>
		<table>
			<tr>
				<td><b>Vocable</b></td>
				<td><b>Translation</b></td>
				<td><b>Languages</b></td>
				<td><b>Sentence</b></td>
				<td><b>Will be checked</b></td>
				<td><b>Level</b></td>
				<td></td>
			</tr>
			<tr ng-repeat="(timestamp, vocableObject) in vocables" ng-class-odd="'odd'">
				<td class="vocable">{{ vocableObject.v.substr(1) }}</td>
				<td class="translation">{{ vocableObject.t }}</td>
				<td class="languages"><img ng-src="images/flags/{{ vocableObject.language.from }}.png"> <span>&gt;</span> <img ng-src="images/flags/{{ vocableObject.language.to }}.png"></td>
				<td class="sentence" ng-bind-html="vocableObject.s"></td>
				<td class="date">{{ convertToReadable(timestamp) }}</td>
				<td class="level">{{ vocableObject.l }}</td>
				<td><a href="#" ng-click="deleteVocable(timestamp)">delete</a></td>
			</tr>
		</table>
						
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js scripts/options.js -->
		<script src="scripts/ng-modules/MessageService.js"></script>
		<script src="scripts/options.js"></script>
		<!-- endbuild -->
	</body>
</html>
