<!doctype html>
<html ng-app="50vad-popup-app">
	<head>
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css styles/popup.css -->
		<link href="styles/popup.css" rel="stylesheet">
		<!-- endbuild -->
	</head>
	<body ng-controller='PopupController'>
		<h1>50 Vocabs A Day!</h1>
		
		<p>Search for translation:</p>
		<input type="text" ng-model="q" ng-keyup="isReturn($event) && search()" />

		<div ng-show="showTranslation()">
			<p>
				Vocable: <b>{{ translation.v }}</b>
			</p>
			<table>
				<tr ng-repeat="entry in entries">
					<td ng-click="changeTranslation(translation.v, entry, translation.sourceLanguage)">{{ entry }} <b ng-show="translation.t === entry">(selected)</b></td>
				</tr>	
			</table>

			<div>
				<div language-selector="fromLanguageSelected(language)" selection="fromLang"></div>
				&gt;
				<div language-selector="toLanguageSelected(language)" selection="toLang"></div>
			</div>

			<button ng-click="changeTranslation(null, null)">Don&quot;t add vocable to training</button>
		</div>

		<a href="options.html" target="_blank">Show vocabulary list</a>

		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js scripts/popup.js -->
		<script src="scripts/ng-modules/MessageService.js"></script>
		<script src="scripts/popup.js"></script>
		<!-- endbuild -->
	</body>
</html>
